body   {
    background-color: #213423;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #9db38c;
    margin: 0;
    padding: 0;
}
.left-sidebar {
  width: 15%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #333;
  color: #fff;
}

.left-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.left-sidebar li {
  padding: 20px;
  border-bottom: 1px solid #444;
}

.left-sidebar a {
  color: #fff;
  text-decoration: none;
}


/* Mobile view */
@media only screen and (max-width: 600px) {
  .left-sidebar {
    width: 38%;
    height: 100%;
    position: fixed z-index 1;
    left: 0;
    top: 0;
    background-color: #333;
    color: #fff;
    z-index: 6;

  }
  
  .left-sidebar ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .left-sidebar li {
    padding: 20px;
    border-bottom: 1px solid #444;
  }
  
  .left-sidebar a {
    color: #fff;
    text-decoration: none;
  }
    
  
  .burger{
    display: block;
    margin-left: 200px !important;
  }
 
  .left-sidebar-inactive{
    display: none;
  }
}